table.game {
    border-spacing: 0;
}

table.game td {
    position: relative;
    width: 30px;
    height: 30px;
}

table.game td.field {
    background-color: black;
}

table.game td.wall {
    background-color: red;
}

table.game td.fruit {
    background-color: orange;
}

.score {
    z-index: 1;
    position: absolute;
    left: 8px;
    top: 4px;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}